@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #dbcfeb;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: antiquewhite;
  font-size: 4em;
  text-align: center;
}
h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #0000ff33;
  font-size: 1em;
  text-align: center;
}

.container {
  position: absolute;
  display: flex;
  justify-content: space-around;
  left: 25%;
  top: 35%;
  width: 50%;
  height: 18em;
  background-color: #fdf8f1;
  border: solid 7px antiquewhite;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 12px 12px 2px 1px #0000ff33;
}

.btndh {
  position: absolute;
  right: 1em;
  bottom: 1em;

}

.dhbtn {
  display: flex;
  background-color: antiquewhite;
  width: 10em;
  height: 2em;
  border-radius: 50px;
  text-align: start;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
  align-items: center;
  justify-content:space-around;
  border: 0em;
  box-shadow: 7px 7px 2px 1px #0000ff33;
  transition-duration: 0.4s;
}

.dhbtn:hover {
  box-shadow: 10px 10px  #0000ff33;
  transform: translate(-0.1em, -0.1em);
}

.score {
  position: absolute;
  display: flex;
  font-family: 'Roboto', sans-serif;
  color: rgb(122, 122, 122);
  font-size: 1.5em;
  right: 2.5em;
  justify-content: end;
}

.choix {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 3em;
  height: auto;
}

#pierre {
  width: 500px;
  height: 10em;
  background-color: white;
  border-radius: 35px;
  padding: 6em;
  border: solid 7px antiquewhite;
  background:url(./gem.png);
}

#feuille {
  
  height: 10em;
  background-color: white;
  border-radius: 35px;
  padding: 6em;
  background:url(./herb.png) no-repeat;
  border: solid 7px antiquewhite;
}

#ciseaux {
  width: 10em;
  height: auto;
  background-color: white;
  border-radius: 35px;
  padding: 6em;
  background:url(./scissors.png) no-repeat;
  border: solid 7px antiquewhite;
}

.credit {
  position: relative;
  color: #0000ff33;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 10em;
}

.bloc{
  position: absolute;
  display: flex;
  justify-content: space-around;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 20em;
  background-color: rgb(253, 248, 241);
  border: solid 7px antiquewhite;
  border-radius: 25px;
  
}

.resetbtn {
  position: absolute;
  display: flex;
  left: 49%;
  margin-top: 20em;
  background-color: #fdf8f1;
  border: solid 7px antiquewhite;
  border-radius: 25px;
  width: 4em;
  height: 3em;
  color: #dbcfeb;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
}

